body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

form {
    background-color: #0C1014;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

.title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 35px;
    margin-top: 12px;
    border-radius: 8px;
    padding: 8px;
    border: none;
    font-size: 14px;
}

.password-box {
    position: relative;
}

#btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4150F7;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #5b66f7;
}

#output {
    margin-top: 20px;
    padding: 15px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
}
